.raise {
  background: none;
  border: 2px solid;
  border-radius: 4px;
  line-height: 1;
  margin: 0.5em;
  color: #8CFEFE;
  transition: 0.25s;
  text-transform: uppercase;
  cursor: pointer;
}

.raise:hover,
.raise:focus {
  border-color: #B927A6;
  color: #fff;
  box-shadow: 0 0.5em 0.5em -0.4em #B927A6;
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

@media screen and (max-width: 599px) {
  .raise {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .raise:hover,
  .raise:focus {
    -webkit-transform: translate(-50%, -0.25em);
    transform: translate(-50%, -0.25em);
  }
}
