body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

/* xs */
@media (max-width: 599px) {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  #mobile-card {
    border-radius: 0;
  }
}
